<li id="comment-<%=comment.floorNumber%>">
        <div>
            <div class="comment-avatar">
                <img src="<%=comment.createUserAvatar%>"
                     class="avatar avatar-100" height="100" width="100">
            </div>
            <div class="comment-body">
                <div class="comment_author">
                    <span class="name"><a class="url" rel="external nofollow" target="_blank"><%=comment.createUserNickName%></a></span>
                    <em><%=comment.createTime%></em>
                    <div class="comment_floor"><%=comment.floorNumber%> 楼</div>
                </div>
                <div class="comment-text">
                    <%=comment.content%>
                </div>
            </div>
        </div>

        <ul class="children">
            <%var subComments = comment.comments||[];%>
            <%subComments.forEach(function(subComment,i){%>
            <% include comments-sub %>
            <%});%>
        </ul>

</li>