<%
for (var i = 0 ; i < postList.length;i++){
var post = postList[i];
%>
<li class="ajax-load-con content">
    <div class="content-box posts-aside">
        <div class="posts-default-content">
            <div class="posts-default-title">
                <div class="post-entry-categories">
                    <% var tags = post.tags || []; tags.forEach(function(tag){%>
                    <a href="/search/tag/<%=tag%>" rel="tag"><%=tag%></a>
                    <% }); %>
                </div>
                <h2>
                    <a class="ajax-link" ajax-target=".main-body" ajax-render="server" href="/blog/post/<%=post._id%>" title="<%=post.title%>">
                        <%=post.title%>
                    </a>
                </h2>
            </div>
            <div class="posts-text">
                <%=post.contentSummary%>
            </div>
            <div class="posts-default-info">
                <ul>

                    <li class="post-author">
                        <div class="avatar"><img alt="<%=post.createUserNickName%>"
                                                 src="<%=post.createUserAvatar%>"
                                                 class="avatar" height="50" width="50"
                                                 style="display: block;"></div>
                        <a href="/" target="_blank"><%=post.createUserNickName%></a></li>
                    <li class="ico-cat"><i class="icon-list-1"></i>
                        <a href="/search/topicId/<%=post.belongTopicId%>"><%=post.belongTopicTitle%></a>
                    </li>
                    <li class="ico-time"><i class="icon-clock-1"></i> <%=post.createTime%></li>
                    <li class="ico-eye"><i class="icon-eye-1"></i>  <%=post.viewCount%></li>
                    <li class="ico-like"><i class="icon-heart"></i> <%=post.likeCount%></li>
                </ul>
            </div>
        </div>
    </div>
</li>

<%
}
%>