<div>
    <div class="posts">

        <div class="posts-box" id="blog-post-box">
            <div class="post" id="create-post-box">
                <div>文章标题: <input type="text" style="width: 400px" name="title" class="cp-input" value="<%=post.title%>"></div>
                <div style="height: 10px"></div>
                <div>文章分类: <select id="cp-select-belongTopicId" class="cp-select" name="belongTopicId">
                    <% for (var i=0;i< topicList.length; i++){var topic = topicList[i];%>
                    <option value="<%=topic.topicId%>"><%=topic.title%></option>
                    <%}%>
                    </select>
                </div>
                <div style="height: 10px"></div>
                <div>文章内容: </div>
                <div style="height: 10px"></div>
                <div id="create-ueditor-placeholder" style="height:500px;padding: 30px;border: 1px solid #d4d4d4;box-shadow: 2px 2px 5px #d3d6da;">加载中......</div>
                <script id="create-ueditor" type="text/plain" style="height:500px;width:750px;"><%-post.content%></script>
                <div style="height: 10px"></div>
                <div>关键字: <input name="tagString" value="<%=post.tagString%>" type="text" style="width: 400px" class="cp-input"></div>
                <div style="height: 30px"></div>

                <div>

                    <%if(isCreatePost){%>
                    <button class="submit-button create-post-submit" style="float: right;">发布文章</button>
                    <%}%>

                    <%if(isModifyPost){%>
                    <button data-id='<%=post._id%>' class="submit-button modify-post-submit" style="float: right;">保存修改</button>
                    <%}%>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="sidebar sidebar-right">
            <%-HTML_SIDEBAR %>
        </div>
    </div>


    <div style="display: none">
        <input id="beforeBelongTopicId" value='<%=post.belongTopicId%>'>
        <input id="beforePostId" value='<%=post._id%>'>
    </div>


</div>