<div class="sidebar-box">


    <div class="widget suxingme_maillist">
        <div class="widget_box"><h3>文章查找</h3>
            <form class="sidebar-search">
                <input type="text" name="to" class="rsstxt" placeholder="查找文章" >
                <input type="submit" class="rssbutton" value="查找">
            </form>
        </div>
    </div>


    <div class="widget suxingme_maillist">
        <div class="widget_box"><h3>文章分类</h3>
            <ul style="line-height: 30px">
                <%sidebar.topicList.forEach(function(topic,i){%>
                <li><a href="/articles/topic/<%=topic.topicId%>" class="ajax-link" ajax-target=".main-body" ajax-render="server"><%=topic.title%></a></li>
                <%});%>
            </ul>
        </div>
    </div>

    <div class="widget widget_suxingme_cjtz affix-top" style="top: 0px;">
        <div class="widget_box">
            <div class="widget_cjtz">
                <div class="widget_cjtz_img" style="margin: -30px -20px -20px;">
                    <a class="cjtz-border" href="/" target="_blank">
                        <img src="/public/static/images/2016042111140263.jpg" title="" width="100%" height="auto"></a></div>
            </div>
        </div>
    </div>
    <div class="widget widget_suxingme_postlist">
        <div class="widget_box"><h3>最新文章</h3>
            <ul class="recent-posts-widget">
                <% var newPostList = sidebar.newPostList || [];%>
                <% var post = newPostList[0] ||{}; %>
                <li class="one">
                    <div class="recent-posts-one-img">
                        <a href="/article/view/<%=post._id%>" class="ajax-link" ajax-target=".main-body" ajax-render="server" title="<%=post.title%>">
                            <img class="lazy thumbnail"
                                 src="/public/static/images/timthumb0.jpg"
                                 alt="<%=post.title%>" style="display: inline-block;">
                        </a></div>
                    <div class="recent-posts-title">
                        <span class="info"><i class="icon-calendar-1"></i> <%=post.createTime%></span>
                        <h4 class="title"><a href="/article/view/<%=post._id%>" class="ajax-link" ajax-target=".main-body" ajax-render="server"
                                             title="<%=post.title%>"><%=post.title%></a>
                        </h4>
                    </div>
                </li>


                <% newPostList.forEach(function(post,i){if (i>0){%>

                <li>
                    <div class="recent-posts-img"><a href="/article/view/<%=post._id%>" class="ajax-link" ajax-target=".main-body" ajax-render="server" title="<%=post.title%>">
                        <img class="lazy thumbnail"
                             src="/public/static/images/timthumb1.jpg" alt="<%=post.title%>" style="display: inline-block;">

                    </a></div>
                    <div class="recent-posts-title">
                        <h4 class="title"><a href="/article/view/<%=post._id%>" title="<%=post.title%>" class="ajax-link" ajax-target=".main-body" ajax-render="server"><%=post.title%></a></h4>
                        <span class="info"><i class="icon-calendar-1"></i> <%=post.createTime%></span>

                    </div>
                </li>

                <% }});%>


            </ul>
        </div>
    </div>
    <div class="widget widget_suxingme_hotpost">
        <div class="widget_box"><h3>热评文章</h3>

            <% sidebar.hotPostList.forEach(function(post,i){ %>
            <li>
                <a href="/article/view/<%=post._id%>" title="<%=post.title%>" class="img ajax-link" ajax-target=".main-body" ajax-render="server" >
                    <i class="icon-forward"></i>
                    <img class="lazy thumbnail"
                         src="/public/static/images/timthumb2.jpg"
                         alt="<%=post.title%>" style="display: inline-block;">
                </a>
                <div class="title">
                    <div class="entry-meta"><span><i
                            class="icon-comment-inv-alt2"></i> <%=post.replyCount%></span><span><i
                            class="icon-calendar-1"></i> <%=post.createTime%></span></div>
                    <h4><a href="/article/view/<%=post._id%>" title="<%=post.title%>" class="ajax-link" ajax-target=".main-body" ajax-render="server">
                        <%=post.title%></a>
                    </h4>
                </div>
            </li>
            <% });%>

        </div>
    </div>
    <div class="widget suxingme_social">
        <div class="widget_box">
            <div class="attentionus">
                <p class="title"><span>关注我们 么么哒！</span></p>
                <ul class="items clearfix">
                    <a href="/" target="_blank" class="social_a social_weibo"
                       rel="nofollow" title="新浪微博"><i class="icon-weibo"></i></a>
                    <a href="/" target="_blank" class="social_a social_tencent"
                       rel="nofollow" title="腾讯微博"><i class="icon-tencent-weibo"></i></a> <a
                        href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=qq910010653@163.com"
                        target="_blank" class="social_a social_email" rel="nofollow" title="邮箱"><i
                        class="icon-mail-2"></i></a>
                    <div class="dropdown-menu-part" style="z-index: 9;">
                        <a id="tooltip-qq" href="javascript:void(0);" onclick="return false;"
                           target="_blank" class="social_a social_qq" rel="nofollow"
                           title="QQ:910010653"><i class="icon-qq"></i></a>
                        <div class="dropdown-menu qq-dropdown">
                            <p><a href="http://wpa.qq.com/msgrd?v=3&uin=910010653&site=qq&menu=yes">910010653</a>
                            </p>
                        </div>
                    </div>
                </ul>
            </div>

        </div>
    </div>
    <div class="widget suxingme_tag">
        <div class="widget_box"><h3>热门标签</h3>
            <div class="widge_tags">
                <div class="tag-items">
                    <% sidebar.hotTagList.forEach(function(tag,i){ %>
                    <a href="/articles/tag/<%=tag.title%>"
                       class="tag-item ajax-link"
                       ajax-target=".main-body"
                       ajax-render="server"
                       title="<%=tag.title%>"><span><%=tag.title%></span></a>
                    <% });%>
                </div>
            </div>
        </div>
    </div>
    <div class="widget widget_links">
        <div class="widget_box"><h3>友情链接</h3>
            <ul class="xoxo blogroll">
                <li><a href="https://github.com/luanhaipeng/" title="GitHub" target="_blank">Luan GitHub</a>
                </li>
                <li><a href="http://www.cnblogs.com/lhp2012/" title="袜子破了" target="_blank">袜子破了</a>
                </li>
                <li><a href="http://loseronline.cn/" title="http://loseronline.cn/" target="_blank">极客导航</a></li>
                <li><a href="https://www.processon.com/" title="在线画流程图工具" target="_blank">Process On</a>
                </li>
                <li><a href="http://www.reqianduan.com/2083.html" title="热前端 Webpack入门指迷" target="_blank">Webpack入门指迷</a>
                </li>
                <li><a href="http://a2.hubwiz.com/" title="Angular2 文档" target="_blank">Angular2 文档</a>
                </li>
                <li><a href="http://www.zi-han.net/theme/hplus/?v=4.1#" title="H+ 后台主题UI框架" target="_blank">H+ 后台主题UI框架</a>
                </li>
                <li><a href="https://nodejs.org/download/release/v6.0.0/" title="nodejs下载目录" target="_blank">nodejs下载目录</a>
                </li>
                <li><a href="http://nginx.org/download/" title="Nginx下载目录" target="_blank">Nginx下载目录</a>
                </li>
                <li><a href="http://coolpeng.bj.bcebos.com/static/zip/Switching%2Bto%2BAngular%2B2%2B-%2BMinko%2BGechev.pdf" title="Angular2电子书" target="_blank">Angular2电子书</a>
                </li>
                <li><a href="http://pan.baidu.com/s/1eSLj8hc" title="翻墙工具" target="_blank">翻墙工具</a>
                </li>
            </ul>
        </div>
    </div>
</div>